header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
  transition: color 0.1s ease-in-out;
}

.logo:focus,
.logo:hover {
  color: dodgerblue;
}
